* {
    box-sizing: border-box;
  }
  
  @mixin flex-center() {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .basket {
    height: 93vh;
    display: flex;
    flex-direction: column;
  }
  
  @media only screen and (max-width: 500px) {
    .basket {
      flex-direction: column-reverse;
    }
    .search-box {
      width: 100% !important;
      input {
        min-width: 100%;
      }
    }
    .error {
      margin-top: 50px;
    }
  }
  

  
  .error {
    text-align: center;
    font-size: 24px;
    animation: poof 0.5s;
  }
  
  /* Keyframes  */
  
  @keyframes poof {
    0% {
      opacity: 0;
      transform: translateY(-5px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  